# package directories
node_modules
node_modules.*
jspm_packages

# Serverless directories
.serverless

# Webpack directories
.webpack

swagger-docs.json

.DS_Store

pkg-docker

#environment variables
env-vars*


docker-run
